html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-content{
	line-height: 1.5;
	width: 500px;
	border: solid 1px #0033FF;
	font: 11pt;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.row{
	width: 100%;
	display: block;
	clear: both;
}

.row .title{
	font-weight: bold;
	height: 25px;
	width: 100%;
}

.profile{
	height: 100px;
	width: 100%;
	float:left;
	padding-bottom: 20px;
}

.player-profile{
	background: url('image/title_bg.gif') repeat-x bottom;
}

.player-profile-image{
	width: 100px;
	height: 90px;
	float: left;
}

.player-profile img{
	width: 100px;
	height: 90px;
}

.player-profile-content{
	float: left;
	width: 70%;
	height: 112px;
	overflow: scroll;
}

.row .content ul{
	padding-bottom: 20px;
}

.row .content li{
	margin-left: 20px;
	line-height: 1;
}

.comment{
	width: 100%;
	width: 98%;
	padding: 0 5px;
}

.comment .comment-content{
	background: #ECECEC;	
	padding: 5px;
}

.comment .comment-user{
	background-image: url('image/comment_bt.gif');
    background-repeat: no-repeat;
    padding-left: 55px;
}

.comment .comment-user a{
	color: blue;
}

.comment-form{
	padding: 20px 5px 0;	
}

.comment-form .comment-form-tile{
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
}

.comment-form .form-label{
	float: left;
	width: 23%;
	padding: 0 5px;
	line-height: 26px;
}

.comment-form input[type="text"]{
	padding: 4px;
}

